name: pre-commit

on:
  workflow_dispatch:
  pull_request:

jobs:
  run-pre-commit:
    name: Run Pre-Commit
    runs-on: ubuntu-latest

    steps:
    - name: Checkout codes
      id: checkout-codes
      uses: actions/checkout@v4.2.2

    - name: Setup python
      id: setup-python
      uses: actions/setup-python@v5.4.0
      with:
        python-version: 3.12.8
        architecture: x64

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install dependencies
      id: install-dependencies
      run: |
        uv sync --all-extras --dev

    - name: Run pre-commit
      run: make pre-commit
